{% extends "layout.html" %} {% block title %} - Register {% endblock %} 


{% block searchComponent %}

{% endblock %}

{% block content %}
<div class="my-4">
    <div class="flex flex-row justify-between">
        <div>
            <h1 class="text-4xl font-bold underline">{{ company.name }}</h1>
            <p>{{ company.category }}</p>
        </div>
        {% if company.isLookingForEmployees %}
            <p class="text-red-400">Currently looking for employees</p>
        {% endif %}
    </div>
   

    <p>{{ company.description }}</p>

    {% if reviews %}
    <section class="flex flex-col mt-9">
        <h3 class="text-2xl font-semibold">Reviews:</h3>
        <div class="flex flex-col gap-4 px-4">
            {% for review in reviews %}
            <div>
                <p class="text-sm font-light">{{ review.reviewer }}</p>
                <p>{{ review.review }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}
