{% extends "layout.html" %} {% block title %} - Register {% endblock %} 

{% block content %}
<div>
	<nav>
		{% if request.user.is_authenticated %}
		<p>
			Logged in as {{ request.user.first_name }} {{ request.user.last_name }}
		</p>
		<a href="/auth/logout">Logout</a>
		{% else %}
		<a href="/auth">Login</a>
		{% endif %}
	</nav>

    <form action="./" method="POST" class="my-4">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="bg-red-400 text-white p-4">Submit</button>
    </form>
</div>

{% endblock %}