{% extends "layout.html" %} {% block title %} - Register {% endblock %} 

{% load static %} 
{% block js %}
	<script>
		const searchInput = document.getElementById("q");
		searchInput.addEventListener("change", (e) => {
			const urlParams = new URLSearchParams(window.location.search);
			urlParams.set("q", e.target.value);
			window.location.search = urlParams;
		});
	</script>
{% endblock %} 


{% block content %} 
{% if tab != "recent_searches" %} 
{% if q %}
<a href="?q=" class="font-light text-gray-500 text-sm underline cursor-pointer">Clear search</a>
{% endif %}
<div class="flex flex-row justify-center gap-4 pt-8 relative mb-4">
	<div class="flex flex-col gap-2 mb-4">
		{% for job in jobs %}
		<div class="justify-between border sm:max-w-[600px] max-w-[400px] px-4 py-3 rounded-sm hover:shadow-md duration-300 transition-all">
			<div class="flex flex-row justify-between">
				<a
					href="{% url 'jobboard:job' job.id %}"
					class="text-xl"
					>{{ job.name }}</a
				>
				{% if job.employer == request.user %}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
				</svg>
				{% endif %}
			</div>
			<div class="flex flex-row gap-2 font-light text-slate-600">
				<p>{{ job.company_name }}</p>
				|
				<p class="font-normal">{{ job.location }}</p>
			</div>
			<div class="flex flex-row gap-4 px-2 text-sm mt-2">
				{% if job.salary %}
				<p
					class="bg-slate-100 text-slate-600 px-3 border border-slate-400 rounded-sm">
					${{ job.salary }} monthly
				</p>

				{% endif %}
				<a href="/?q={{ job.employment_type }}" class="bg-slate-200 text-slate-700 w-fit px-3">
					{{ job.employment_type }}
				</a>
			</div>
			<section
				aria-label="job summary"
				class="my-2 font-light text-gray-500">
				{{ job.summary }}
			</section>
			<footer aria-label="job footer" class="mt-2">
				<p class="font-light text-xs text-gray-600">
					Posted {{ job.created_at|timesince }} ago.
				</p>
			</footer>
		</div>
		{% empty %} {% if q %}
		<div class="w-full flex flex-col justify-start text-gray-400">
			<p class="text-2xl font-light">
				The search <strong>"{{ q }}"</strong> did not match any jobs.
			</p>
			<h4 class="font-medium text-lg mt-4 text-gray-500">
				Search suggestions:
			</h4>
			<ul class="list-disc list-inside font-light">
				<li>Try more general keywords</li>
				<li>Check your spelling</li>
				<li>Replace abbreviations with the entire word</li>
			</ul>
		</div>

		{% else %}
		<p>There are currently no jobs available.</p>
		{% endif %} {% endfor %}
	</div>

	{% else %}
	<!-- Recent Searches Tab -->
	<section class="text-black flex flex-col gap-2">
		<h3 class="font-medium text-xl">Here are your recent searches...</h3>
		{% for search in recent_searches %}
		<div
			class="flex flex-row py-2 px-4 border mx-12 w-full justify-between">
			<a href="?q={{ search.search }}&tab=" class="font-light"
				>{{ search.search }}</a
			>
			<a href="{% url 'jobboard:deleteSearch' search.id %}"><svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="w-5 h-5 cursor-pointer">
				<path
					fill-rule="evenodd"
					d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
					clip-rule="evenodd" />
			</svg></a>
		</div>
		{% endfor %}
	</section>
	{% endif %} {% endblock %}

	<button class="bg-red-300 px-2 py-1">
		<a href="{% url 'jobboard:editJob' job.id %}">Edit</a>
	</button>
	<button class="bg-red-300 px-2 py-1">
		<a href="{% url 'jobboard:deleteJob' job.id %}">Delete</a>
	</button>
</div>
